* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: white;
    color: #666;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background-color: #333;
    margin: 1em 0 0;
}

#contact {
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    text-align: right;
    a {
        text-decoration: none;
        &:any-link {
            color: white;
        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    li {
        background: transparent;
        flex-basis: 100%;
        margin: 0;
        padding: 0;
    }
}

nav {
    overflow: hidden;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            background-color: orange;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: blue;
                }
            }
        }
    }
}

#contact,
nav ul li {
    color: white;
    flex: 1;
    list-style-type: none;
    padding: .5em 1em;
}

#hero {
    clear: both;
    height: 300px;
    position: relative;
    img {
        height: 300px;
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        transition: opacity 1s ease-in-out;
        width: 100%;
        z-index: 0;
        &.current {
            opacity: 1;
            transition: opacity 1s ease-in-out;
            z-index: 1;
        }
    }
}

section {
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

#content {
    margin-bottom: -50px;
    min-height: 100%;
    &::after {
        content: '';
        display: block;
    }
}

footer {
    background-color: orange;
    color: #FFF;
    margin: 1em 0;
    padding: .25em;
    position: relative;
    width: 100%;
}

footer,
#content::after {
    height: 50px;
}

#copyright {
    bottom: .25em;
    position: absolute;
    right: .25em;
}

.active,
.highlighted {
    background-color: #333;
}

.highlighted a:hover {
    color: white;
}
