@import '~bootstrap/scss/bootstrap';
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #333;
    color: #ccc;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background-color: #333;
    margin: 1em 0 0;
}

#contact {
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    text-align: right;
    a {
        text-decoration: none;
        &:any-link {
            color: white;
        }
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    li {
        background: transparent;
        flex-basis: 100%;
        margin: 0;
        padding: 0;
    }
}

nav {
    overflow: hidden;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            background-color: orange;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: blue;
                }
            }
        }
    }
}

#contact,
nav ul li {
    color: white;
    flex: 1;
    list-style-type: none;
    padding: .5em 1em;
}

#hero {
    clear: both;
    height: 300px;
    position: relative;
    [data-component-name='Image'] {
        img {
            height: 300px;
            margin: 0 auto;
            opacity: 0;
            position: absolute;
            transition: opacity 1s ease-in-out;
            width: 100%;
            z-index: 0;
        }

        &.current img {
            opacity: 1;
            transition: opacity 1s ease-in-out;
            z-index: 1;
        }
    }
}

section {
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

.content.active {
    display: block !important;
}

.content {
    display: none;
    margin-bottom: -50px;
    min-height: 100%;
    &::after {
        content: '';
        display: block;
    }
}

.btn-default {
    background-color: #00008B;
    color: white;
    &:hover {
        background-color: #00008BAA;
        color: white;
    }
}

footer {
    background-color: orange;
    color: #FFF;
    margin: 1em 0;
    padding: .25em;
    position: relative;
    width: 100%;
}

footer,
.content::after {
    height: 50px;
}

#copyright {
    bottom: .25em;
    position: absolute;
    right: .25em;
}

header {
    .active,
    .highlighted {
        background-color: #333;
    }
}

.highlighted a:hover {
    color: white;
}

#page-2 {
    h1 {
        text-align: center;
        padding: 1.5rem 2.5rem;
        background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
        margin: 0 0 2rem 0;
        font-size: 1.5rem;
        color: white;
    }
    img {
        display: block;
        margin: 1rem auto;
        max-width: 100%;
    }
    p {
        padding: 0 2.5rem 2.5rem;
        margin: 0;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        margin: 1rem;
        background: white;
        box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
        border-radius: 12px;
        overflow: hidden;
        transition: all .2s linear;
        &:hover {
            box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
            transform: translate3D(0, -2px, 0);
        }
        &:nth-child(2n) h1 {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        }
        &:nth-child(4n) h1 {
            background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
        }
        &:nth-child(5n) h1 {
            background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
        }
        @media screen and (min-width: 600px) {
            flex: 1 1 calc(50% - 2rem);
        }
        @media screen and (min-width: 900px) {
            flex: 1 1 calc(33% - 2rem);
        }
    }
}

#recipe-fetch-list {
    img {
        max-height: 80px;
        max-width: 100%;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        margin: 1rem;
        min-width: 406px;
        background: white;
        box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
        border-radius: 12px;
        overflow: hidden;
        transition: all .2s linear;
        &:hover {
            box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
            transform: translate3D(0, -2px, 0);
        }
        .card-title {
            text-align: center;
            padding: 1.5rem 2.5rem;
            background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
            margin: 0 0 2rem 0;
            font-size: 1.5rem;
            color: white;
        }
        &:nth-child(2n) .card-title {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        }
        &:nth-child(4n) .card-title {
            background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
        }
        &:nth-child(5n) .card-title {
            background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
        }
        @media screen and (min-width: 400px) {
            flex: 1 1 calc(50% - 2rem);
        }
        @media screen and (min-width: 900px) {
            flex: 1 1 calc(33% - 2rem);
        }
    }
}
