* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: white;
    color: #666;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background-color: #333;
    margin: 1em 0 0;
}

section {
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

footer {
    background-color: orange;
    color: #FFF;
    margin: 1em 0;
    padding: .25em;
    position: relative;
    width: 100%;
}

nav {
    overflow: hidden;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#contact,
nav ul li {
    color: white;
    flex: 1;
    list-style-type: none;
    padding: .5em 1em;
}

nav ul li {
    background-color: orange;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: blue;
}

footer,
#content::after {
    height: 50px;
}

#content {
    margin-bottom: -50px;
    min-height: 100%;
}

#content::after {
    content: '';
    display: block;
}

#copyright {
    bottom: .25em;
    position: absolute;
    right: .25em;
}

#hero {
    clear: both;
    height: 300px;
    position: relative;
}

#hero img {
    height: 300px;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: 0;
}

#hero img.current {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

#contact {
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    text-align: right;
}

#contact li {
    background: transparent;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
}

#contact a {
    text-decoration: none;
}

#contact a:any-link {
    color: white;
}

#contact a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active,
.highlighted {
    background-color: #333;
}

.highlighted a:hover {
    color: white;
}